@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar personalizzata per la selezione delle date */
.scrollbar-thin {
  scrollbar-width: thin;
}

.scrollbar-thumb-gray-300::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 6px;
}

.scrollbar-track-gray-100::-webkit-scrollbar-track {
  background-color: #f3f4f6;
}

::-webkit-scrollbar {
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f3f4f6;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af;
}
